In [2]:
import pandas as pd

In [12]:
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.width', 53)
pd.set_option('display.max_columns', None)

In [24]:
# import the land temperature data
landtemps = pd.read_csv('data/landtempssample.csv',
    names=['stationid','year','month','avgtemp','latitude',
      'longitude','elevation','station','countryid','country'],
    skiprows=1,
    parse_dates=[['month','year']])

C:\Users\user\AppData\Local\Temp\ipykernel_4720\2320939957.py:2: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  landtemps = pd.read_csv('data/landtempssample.csv',
C:\Users\user\AppData\Local\Temp\ipykernel_4720\2320939957.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  landtemps = pd.read_csv('data/landtempssample.csv',

In [26]:
type(landtemps)

pandas.core.frame.DataFrame

In [28]:
# show enough data to get a sense of how the import went
landtemps.head(7)

,month_year,stationid,avgtemp,latitude,longitude,elevation,station,countryid,country
0,2000-04-01,USS0010K01S,5.27,39.90,-110.75,"2,773.70",INDIAN_CANYON,US,United States
1,1940-05-01,CI000085406,18.04,-18.35,-70.33,58.00,ARICA,CI,Chile
2,2013-12-01,USC00036376,6.22,34.37,-91.12,61.00,SAINT_CHARLES,US,United States
3,1963-02-01,ASN00024002,22.93,-34.28,140.60,65.50,BERRI_IRRIGATION,AS,Australia
4,2001-11-01,ASN00028007,NaN,-14.78,143.50,79.40,MUSGRAVE,AS,Australia
5,1991-04-01,USW00024151,5.59,42.15,-112.29,"1,362.50",MALAD_CITY,US,United States
6,1993-12-01,RSM00022641,-10.17,63.90,38.12,13.00,ONEGA,RS,Russia

In [16]:
landtemps.dtypes

month_year    datetime64[ns]
stationid             object
avgtemp              float64
latitude             float64
longitude            float64
elevation            float64
station               object
countryid             object
country               object
dtype: object

In [18]:
landtemps.shape

(100000, 9)

In [30]:
# fix the column name for the date
landtemps.rename(columns={'month_year':'measuredate'}, inplace=True)

In [32]:
landtemps.dtypes

measuredate    datetime64[ns]
stationid              object
avgtemp               float64
latitude              float64
longitude             float64
elevation             float64
station                object
countryid              object
country                object
dtype: object

In [34]:
landtemps.avgtemp.describe()

count   85,554.00
mean        10.92
std         11.52
min        -70.70
25%          3.46
50%         12.22
75%         19.57
max         39.95
Name: avgtemp, dtype: float64

In [36]:
landtemps.isnull().sum()

measuredate        0
stationid          0
avgtemp        14446
latitude           0
longitude          0
elevation          0
station            0
countryid          0
country            5
dtype: int64

In [38]:
# remove rows with missing values
landtemps.dropna(subset=['avgtemp'], inplace=True)
landtemps.shape

(85554, 9)

In [40]:
# set data types explicitly
landtemps = pd.read_csv('data/landtempssample.csv',
    names=['stationid','year','month','avgtemp','latitude',
      'longitude','elevation','station','countryid','country'],
    skiprows=1,
    parse_dates=[['month','year']],
    dtype={'stationid':'object', 'avgtemp':'float64',
     'latitude':'float64','longitude':'float64',
     'elevation':'float64','station':'object',
     'countryid':'object','country':'object'},
    )

C:\Users\user\AppData\Local\Temp\ipykernel_4720\3607857972.py:2: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  landtemps = pd.read_csv('data/landtempssample.csv',
C:\Users\user\AppData\Local\Temp\ipykernel_4720\3607857972.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  landtemps = pd.read_csv('data/landtempssample.csv',

In [42]:
landtemps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   month_year  100000 non-null  datetime64[ns]
 1   stationid   100000 non-null  object
 2   avgtemp     85554 non-null   float64
 3   latitude    100000 non-null  float64
 4   longitude   100000 non-null  float64
 5   elevation   100000 non-null  float64
 6   station     100000 non-null  object
 7   countryid   100000 non-null  object
 8   country     99995 non-null   object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 6.9+ MB

In [44]:
checknull = landtemps.isnull()

In [46]:
checknull.sum()

month_year        0
stationid         0
avgtemp       14446
latitude          0
longitude         0
elevation         0
station           0
countryid         0
country           5
dtype: int64