In [3]:
import pandas as pd
import numpy as np
import pyreadstat

In [45]:
pd.set_option('display.max_columns', 5)
# pd.reset_option('display.float_format')
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.width', 75)

In [19]:
# retrieve spss data, along with the meta data
nls97spss, metaspss = pyreadstat.read_sav('data/nls97.sav')

In [21]:
nls97spss.dtypes

R0000100    float64
R0536300    float64
R0536401    float64
R0536402    float64
R1235800    float64
R1482600    float64
R9793800    float64
R9793900    float64
R9871900    float64
R9872000    float64
R9872200    float64
R9872400    float64
S8646900    float64
S8647000    float64
S8647100    float64
S8647200    float64
S8647300    float64
S8647400    float64
S8647500    float64
S8647600    float64
S8647700    float64
S8647800    float64
T6651700    float64
U1836800    float64
U1836900    float64
U1837000    float64
U1837100    float64
U1837200    float64
U1837300    float64
U1845400    float64
U1852400    float64
U1852600    float64
U1852700    float64
U2166200    float64
U2166300    float64
U2166400    float64
U2166500    float64
U2857300    float64
U2962800    float64
U2962900    float64
U2963000    float64
Z9063900    float64
dtype: object

In [23]:
nls97spss.head()

   R0000100  R0536300  ...  U2963000  Z9063900
0         1         2  ...       NaN        52
1         2         1  ...         6         0
2         3         2  ...         6         0
3         4         2  ...         6         4
4         5         1  ...         5        12

[5 rows x 42 columns]

In [47]:
nls97spss['R0536300'].value_counts(normalize=True)

R0536300
1.00   0.51
2.00   0.49
Name: proportion, dtype: float64

In [43]:
print(nls97spss['R0536300'].unique())

[2. 1.]

In [29]:
print(nls97spss['R0536300'].dtype)

float64

In [31]:
print(nls97spss['R0536300'].isnull().sum())

0

In [49]:
nls97spss['R0536300'].value_counts(normalize=True)

R0536300
1.00   0.51
2.00   0.49
Name: proportion, dtype: float64

In [51]:
metaspss.variable_value_labels['R0536300']

{0.0: 'No Information', 1.0: 'Male', 2.0: 'Female'}

In [53]:
nls97spss['R0536300'].\
  map(metaspss.variable_value_labels['R0536300']).\
  value_counts(normalize=True)

R0536300
Male     0.51
Female   0.49
Name: proportion, dtype: float64