In [5]:
import pandas as pd
import pyarrow

In [7]:
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.width', 68)
pd.set_option('display.max_columns', 3)

In [9]:
# import the land temperature data
landtemps = \
  pd.read_csv('data/landtempssample.csv',
    names=['stationid','year','month','avgtemp',
      'latitude','longitude','elevation',
      'station','countryid','country'],
    skiprows=1,
    parse_dates=[['month','year']],
    low_memory=False)

C:\Users\user\AppData\Local\Temp\ipykernel_13884\4124104183.py:3: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  pd.read_csv('data/landtempssample.csv',
C:\Users\user\AppData\Local\Temp\ipykernel_13884\4124104183.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.read_csv('data/landtempssample.csv',

In [11]:
landtemps.rename(columns={'month_year':'measuredate'}, inplace=True)

In [13]:
landtemps.dropna(subset=['avgtemp'], inplace=True)

In [15]:
landtemps.dtypes

measuredate    datetime64[ns]
stationid              object
avgtemp               float64
latitude              float64
longitude             float64
elevation             float64
station                object
countryid              object
country                object
dtype: object

In [17]:
landtemps.set_index(['measuredate','stationid'], inplace=True)

In [19]:
# write extreme values of temperature out to Excel and CSV files
extremevals = landtemps[(landtemps.avgtemp < landtemps.avgtemp.quantile(.001)) | (landtemps.avgtemp > landtemps.avgtemp.quantile(.999))]

In [21]:
extremevals.shape

(171, 7)

In [26]:
extremevals.to_excel('views/tempext.xlsx')

In [30]:
extremevals.to_csv('views/tempext.csv')

In [33]:
# save to pickle and feather files
landtemps.to_pickle('data/landtemps.pkl')

In [36]:
landtemps.reset_index(inplace=True)

In [38]:
landtemps.to_feather("data/landtemps.ftr")

In [40]:
# load saved pickle and feather files
landtemps = pd.read_pickle('data/landtemps.pkl')
landtemps.head(2).T

measuredate     2000-04-01  1940-05-01
stationid      USS0010K01S CI000085406
avgtemp               5.27       18.04
latitude             39.90      -18.35
longitude          -110.75      -70.33
elevation         2,773.70       58.00
station      INDIAN_CANYON       ARICA
countryid               US          CI
country      United States       Chile

In [42]:
landtemps = pd.read_feather("data/landtemps.ftr")
landtemps.head(2).T

                               0                    1
measuredate  2000-04-01 00:00:00  1940-05-01 00:00:00
stationid            USS0010K01S          CI000085406
avgtemp                     5.27                18.04
latitude                   39.90               -18.35
longitude                -110.75               -70.33
elevation               2,773.70                58.00
station            INDIAN_CANYON                ARICA
countryid                     US                   CI
country            United States                Chile